body {
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-style: normal;
    background-image: url("img/sample-pattern.png");
}
a {
    text-decoration: none;
    cursor: pointer; 
    }
a:hover {
        color: #373737;
    }
/*Ment*/
header {
  background-color: #fff;
  width: 100%;
  height: 10%;
  position: fixed;
  padding: 0;
  margin: 0;
}
#logo {
    position: fixed;
    top: 10px; padding-left: 5px;
}
nav,
nav ul,
nav ul li {
    margin: 0;
    padding-right: 20px;
}

nav {
    position: absolute;
    top: 30%; right: 15px;
}
ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 38px;
}

/*Isi*/
section {
    position: relative;
    top:15%;
    bottom: 15%;
    z-index: -10;
    height: auto;
}
h1 {
    text-align: center;
    font-size: 40px;
    color: #0b3577;
}
#article-list {
    padding: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 720px;
    margin: auto;
    background-color: #fff;
}
h3 {
    color: slateblue ;

}
footer {
    background-color: #000;
    color: white;
    position: relative;
    top:20%;
    bottom: 15%;
    padding-top: 5px;
    z-index: -10;
    height: 10%;
    text-align: center;
}